// import google font


/* reset styles */
* {
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
}

//body {
//  font-family:;
//}

li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
