%flex-layout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar{
  @extend %flex-layout;
  padding: $base-padding $base-padding $base-padding * 2 ;
  border-bottom: $base-border-thickness solid map-get($colors, g-blue);
  .site-title{
    font-size: $font-size-xl;
    font-weight: bold;
    margin-right: 60px;
  }
  .container{
    @extend %flex-layout;
    .nav-list:nth-of-type(2){
      justify-content: right;
      .nav-item:nth-of-type(1){
        padding-right: 20px
      }
    }
  }
}

@each $key, $val in $colors{
  .navbar-#{$key}{
    @extend .navbar;
    background-color: $val;
  }
}
.menu{
  width: 50px;
  height: 15px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 10px;
  margin-right: 15px;
  justify-content: space-between;
  span{
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: map-get($colors, d-g-blue);
  }
}